//color
$color-default:#0092ff;
$color-border:#e0e0e0;
$color-bg:#f2f2f2;
$color-menu:#273142;
$color-menu-active:#222933;
$color-green:#27c24c;
$color-red:#ee3d3d;
$color-white:#ffffff;
$color-dark-black:#555555;
$color-dict-title: #536077;
$color-light-gray:#e1e2e3;
$color-dark-gray:#9a9da1;
$color-orange:#ff9900;
$color-yellow:#FBF9BB;
$color-light-blue:#9ec9e9;

// height or width
$height-topbar: 70px;
$width-sidebar: 220px;
$height-menu-title: 55px;
$height-input: 35px;
$width-btn: 80px;


%vertical-middle {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin partBorderRadius($direction1, $direction2, $radius) {
  -webkit-border-#{$direction1}-#{$direction2}-radius: $radius;
  -moz-border-radius-#{$direction1}#{$direction2}: $radius;
  border-#{$direction1}-#{$direction2}-radius: $radius;
}

@mixin opacityRange($opacity) {
  opacity: $opacity;
  filter: Alpha(opacity=$opacity*100);
}